# will this make it work
.DS_Store
t.sh
t
pw
.env

**/Cache**
**/Media**
**/Metadata**
**/MediaCover**
**/**.zip
**/**.jpg
**/**.jpeg
**/**.log
**/*.pid
**/*log*
**/**/log.txt
**log.txt
**/*access.log
**/*error.log
**/*imdb.log*
**/*system.log*
**/*Service.*.log*
**Service.*.log
**/Logs/**
