# will this make it work
.DS_Store
t.sh
t
pw
.env

**/**.log
**/*.pid
**/*log*
**/**/log.txt
**log.txt
**/*access.log
**/*error.log
**/*imdb.log*
**/*system.log*
**/*Service.*.log*
**Service.*.log
**/Logs/**
